<ul>
  <% orientation ||= "center" %>

  <% if data.has_key?(:email) %>
    <li class="<%= orientation %>">
      <%= link_to "mailto:#{data[:email]}" do %>
        <%= fa_icon "envelope" %>
      <% end %>
    </li>
  <% end %>

  <% if data.has_key?(:twitter) %>
    <li class="<%= orientation %>">
      <%= link_to data[:twitter], target: "_blank" do %>
        <%= fa_icon "twitter" %>
      <% end %>
    </li>
  <% end %>

  <% if data.has_key?(:mailing_list) %>
    <li class="<%= orientation %>">
      <%= link_to data[:mailing_list], target: "_blank" do %>
        <%= fa_icon "comments" %>
      <% end %>
    </li>
  <% end %>

  <% if data.has_key?(:github) %>
    <li class="<%= orientation %>">
      <%= link_to data[:github], target: "_blank" do %>
        <%= fa_icon "github" %>
      <% end %>
    </li>
  <% end %>

  <% if value=data[:bitbucket] %>
    <li class="<%= orientation %>">
      <%= link_to value, target: "_blank" do %>
        <%= fa_icon "bitbucket" %>
      <% end %>
    </li>
  <% end %>

  <% if data.has_key?(:web) %>
    <li class="<%= orientation %>">
      <%= link_to data[:web], target: "_blank" do %>
        <%= fa_icon "globe" %>
      <% end %>
    </li>
  <% end %>
</ul>
