<ul>
  <% ruvetia_meetups.each do |meetup| %>
    <li>
      <div class="meetup-info">
        <h3>
          <%= meetup.title %>, <%= meetup.city %>
        </h3>
        <div class="meetup-meta">
          <p><span class="date"><%= meetup.date %></span>, <span class="location"><%= meetup.location %></span></p>
        </div>
      </div>
      <%= map(meetup.map_src) %>
    </li>
  <% end %>
</ul>
