<a name="logo"></a>
<section class="logo section red">
  <div class="wrapper">
    <div class="inner">
      <%= image_tag "ruvetia-logo.png", class: "logo-big" %>
      <h1>Ruvetia</h1>
    </div>
  </div>
</section>

<%= ribbon("Estd 2013", class: "mixed-1") %>

<a name="intro"></a>
<section class="intro-text section white">
  <div class="wrapper">
    <div class="inner">
      <%= render 'intro' %>
    </div>
  </div>
</section>

<%= ribbon("Upcoming Meetup", class: "bottom") %>

<a name="meetup"></a>
<section class="meetups">
  <%= render 'meetups', meetups: [ruvetia_meetups.first] %>
 </section>

<%= ribbon("Meet the Team", class: "top") %>

<a name="team"></a>
<section class="team section white">
  <div class="wrapper">
    <div class="inner">
      <%= render 'team' %>
    </div>
  </div>
</section>

<%= ribbon("Everything else", class: "mixed-2") %>

<a name="about"></a>
<section class="more-info section red">
  <div class="wrapper">
    <div class="inner">
      <%= render "_shared/social_media_links", orientation: 'center', data: $ruvetia %>

      <ul class="pseudo-footer">
        <li>probably non-W3C compliant page design by <%= link_to "@therod", ruvetia_team.member(:therod).social_media[:twitter], target: "_blank" %></li>
        <li>logo carefully handcrafted by <%= link_to "@danielpuglisi", ruvetia_team.member(:danielpuglisi).social_media[:twitter], target: "_blank" %></li>
        <li>coded by the amazing <%= link_to "@yves_senn", ruvetia_team.member(:senny).social_media[:twitter], target: :blank %></li>
        <li>made with love</li>
        <li>for you</li>
        <li><3</li>
      </ul>
    </div>
  </div>
</section>
