<ul class="team">
  <% ruvetia_team.each do |member| %>
    <li>
      <div class="member-image">
        <%= image_tag member.image_url, class: "avatar" %>

        <div class="member-social-links">
          <%= link_to member.social_media[:twitter] do %>
            <i class="icon-twitter"></i>
          <% end %>

          <%= link_to member.social_media[:github] do %>
            <i class="icon-github"></i>
          <% end %>

          <%= link_to member.social_media[:web] do %>
            <i class="icon-globe"></i>
          <% end %>
        </div>

      </div>

      <div class="member-info">
        <h3><%= member.name %></h3>
        <p><%= member.bio %></p>
      </div>

    </li>
  <% end %>
</ul>
