<!DOCTYPE html>
<html>
  <head>
    <meta name="keywords" content="ruby, user group, switzerland, development, web, meet, meetup, bern, basel, zurich, geneva, lucerne">
    <meta name="description" content="Ruvetia is a swiss-wide user group for Ruby developers.">

    <title>Ruvetia | meet Ruby Developers in Switzerland</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="full-width">
      <div class="wrapper">
        <div class="main">

          <div id="logo-overlay">
            <div class="logo">
              <%= image_tag "ruvetia-logo.png", class: "logo-big" %>
              <h1>Ruvetia</h1>
            </div>
          </div>

          <div id="navigation-overlay">
            <div class="navigation">
              <%= render 'layouts/navigation' %>
            </div>
            <div class="fadeout">
            </div>
          </div>

          <div id="content">
            <%= yield %>
          </div>

        </div>
      </div>
    </div>

    <ul class="social-media-links">
      <li>
        <%= link_to $ruvetia[:github] do %>
          <i class="icon-github icon-2x"></i>
        <% end %>
      </li>
      <li>
        <%= link_to $ruvetia[:twitter] do %>
          <i class="icon-twitter icon-2x"></i>
        <% end %>
      </li>
      <li>
        <%= link_to $ruvetia[:mailing_list] do %>
          <i class="icon-comments-alt icon-2x"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "mailto:#{$ruvetia[:email]}" do %>
          <i class="icon-envelope icon-2x"></i>
        <% end %>
    </ul>

  </body>

<%= render 'shared/google_analytics' %>
</html>
