<!DOCTYPE html>
<html>
  <head>
    <meta name="keywords" content="ruby, user group, switzerland, development, web, meet, meetup, bern, basel, zurich, geneva, lucerne">
    <meta name="description" content="Ruvetia is a swiss-wide user group for Ruby developers.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <title>Ruvetia | meet Ruby Developers in Switzerland</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//use.typekit.net/evq8nnx.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <div class="main">
      <%= yield %>
    </div>
  </body>

<%= render 'shared/google_analytics' %>
</html>
